@import url("https://fonts.cdnfonts.com/css/batman-forever");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  color: red;
  font-family: "BatmanForeverAlternate", sans-serif;
  background-image: url(./graficos/gotham.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container {
  width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}
.header-main {
  display: flex;
 justify-content: space-between;
 width: 100%;
  height: 60px;
  align-items: center;

}

.btn-musica {
  position: absolute;
 background-color: black;
 color: red;
  border: none;
  border-radius: 20px;
 width: 80px;
 height: 30px;
 }

.btn-latigo {
  width: 150px;
  height: 100px;
 border-radius: 50%;
  background-color: black;
}

.botonlatigazo {
 border: none;
 border-radius: 50%;
  background-color: black;
  filter: drop-shadow(0px 0px 100px rgba(228, 14, 14, 0.42));
}


#animacion {
  width: 150px;
  height: 100px;
  border-radius: 50%;
}

h1 {
  margin-top: 40px;
  margin-bottom: 80px;
 font-weight: 800;

}


.heading {
  animation: wobble 2s;
}

.container-lista {
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  gap: 80px;
  align-items: center;
}

h3 {
  
  margin-top: 140px;
text-align: center;
}

/*Modo nocturno*/
.container-btn-mode {
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
  z-index: 2;
  font-size: 0;
}

.btn-mode {
  display: inline-block;
  width: 50px;
  height: 30px;
  border: 2px solid darkblue;
  transition: background-color 0.5s;
}

.btn-mode i {
  display: block;
  font-size: 17px;
  text-align: center;
  line-height: 30px;
}

.btn-mode.sun {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: 1px solid darkblue;
}

.btn-mode.moon {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.active {
  background-color: darkblue;
  color: #ffcd5c !important;
}

.dark-mode h1,
.dark-mode h2,
.dark-mode h3 {
  color: brown;
}

/*fin modo nocturno*/

#hero{

  color:goldenrod;
  font-size: 50px;
  animation: wobble 2s;
}

