@import url('https://fonts.cdnfonts.com/css/batman-forever');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    color: red;

    font-family: 'BatmanForeverAlternate', sans-serif;

    background-image: url(./graficos/gotham.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;




}


.botonlatigazo {

    width: 150px;
    height: 100px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;

    background-color: black;
}

.elementos {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    row-gap: 100px;
    margin-top: 280px;
    margin-left: 250px;

}

.container {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-top: 20px;

}

.botonselect {

    width: 122px;
    height: 62px;
    background-color: rgb(100, 111, 237);
    margin-right: 20px;
    margin-bottom: 20px;
    border: rgb(0, 128, 102) 1px solid;

}

#animacion {

    width: 150px;
    height: 100px;
}




.nocturno {

    width: 120px;
    height: 60px;
}

.buttons {
    padding: 1px;
    width: 120px;
    height: 60px;
    margin-left: 20px;
    margin-top: 570px;
    background-color: darkgreen;

}