* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    color: white;
    font-family: 'Inter', sans-serif;
    background-image: url(./gráficos/gotham.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;


}


.botonlatigazo {
    width: 220px;
    height: 50px;
    background-color: rgb(100, 111, 237);
    margin-left: 20px;
    margin-bottom: 20px;
}

.elementos {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    row-gap: 100px;
    margin-top: 280px;
    margin-left: 250px;

}

.container {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-top: 20px;

}

.botonselect {

    width: 100px;
    height: 30px;
    background-color: rgb(100, 111, 237);
    margin-right: 20px;
    margin-bottom: 20px;

}

